<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Welcome!</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content id="disclaimer">
    We have created this app to help students understand their legal rights and responsibilities. We cannot give you advice about how the law would treat your legal problem and what you should do about it. The information on this site is only for your education. None of the information in this web site is legal advice.<br><br>

    To get legal advice you need to speak with someone who<br>
    1. is trained in the law and<br>
    2. can spend time learning all of the details in your case.<br><br>
    We do not represent individuals in either civil or criminal cases. If you have a legal problem it is always best to talk to a lawyer if you can. If you need legal advice you can check out our Legal Aid & Advocacy Groups (link) for a professional who may be able to help you for free or at low cost.<br>

    <button class="button button-block button-positive" type="submit" ng-click="modal.hide()">Got it</button>

  </ion-content>
</ion-modal-view>
