<ion-view view-title="Boston Student Rights">
  <ion-content id="home">
		<img src="/img/logo.png" id="logo">
		<p id="title">Boston Student Rights</p>
		<img class="org-logo" src="/img/bsac_logo.png">
		<img class="org-logo" src="/img/yob_logo.png">
		<p id="about">Brought to you by<br>BSAC and Youth on Board</p>

		
  </ion-content>
  <div id="make-webclip-wrapper" ng-if="iOS && !webclip" class="animated bounceInUp">
			<div id="make-webclip" >
				<p>Save Boston Student Rights to your home screen!</p>
				<small>Tap below and choose Add to Home Screen.</small>
			</div><br>
			<div id="downarrow"></div>
		</div>
</ion-view>
