<ion-view view-title="Boston Student Rights" ng-controller="HomeCtrl">
  <ion-content id="home">
    <img src="/img/logo.png" id="logo">
    <p id="title">Boston Student Rights</p>
    <p id="about">Brought to you by<br>BSAC, Youth on Board<br>
    and the BPS Office of Engagement</p>
    <img class="bps-logo" src="/img/bps_logo.png"><br>
    <img class="org-logo" src="/img/bsac_logo.png">
    <img class="org-logo" src="/img/yob_logo.png">
  </ion-content>
  <div id="make-webclip-wrapper" ng-if="iOS && !webclip">
		<div id="make-webclip" >
			<p>Save Boston Student Rights to your home screen!</p>
			<small>Tap below and choose Add to Home Screen.</small>
		</div><br>
		<div id="downarrow"></div>
	</div>
</ion-view>
