<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link href="/admin/style.css" rel="stylesheet">
</head>
<body ng-app="readThisEditor">

	<script type="text/ng-template"  id="recursive-template">
	{{data}}
		<div class="column">
			<ul ng-if="data.contains == 'list'">
				<li class="list-item" ng-repeat="item in data.content">
					{{item.title}}
					<div ng-repeat="data in data.content" ng-include="'recursive-template'" >
					</div>
				</li>
			</ul>
			<div ng-if="data.contains == 'html'" ng-bind-html="data.content">
			{{data.content}}
			</div>

		</div> 
	</script>

	<div id="wrapper" ng-controller="EditorCtrl">
		<div ng-repeat="data in allContent" ng-include="'recursive-template'" ></div>
	</div>

	<script src="/lib/angular/angular.js"></script>
	<script src="/lib/angular-sanitize/angular-sanitize.js"></script>
	<script src="/lib/ngquill/src/ng-quill.js"></script>
	<script src="/admin/main.js"></script>
</body>

</html>