/* Empty. Add your own CSS if you like */
<<<<<<< Updated upstream
p{
	font-family: 'Georgia';
	padding: 25px 40px;
	font-size: 1.1em;
	line-height: 170%;
}
=======
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
>>>>>>> Stashed changes
