
.text-content{
	font-family: 'Georgia';
	padding: 25px 15px;
	font-size: 1.1em;
	line-height: 170%;
}

.text-content li{
	list-style-type: circle;
	margin-left: 20px;
}

i{
	font-style: italic;
}

img{
	max-width: 100%;
}

.item.item-complex{
	font-family: 'FontAwesome';
}

.title.title-center{
	font-family: 'FontAwesome';
}
