
.text-content, #disclaimer{
	font-family: 'Georgia';
	padding: 35px 15px;
	font-size: 1.1em;
	line-height: 170%;
}

#disclaimer{
	text-align: center;
}

#disclaimer button{
	max-width: 100px;
	text-align: center;
	display: inline-block;
	margin-top: 25px;
}

#disclaimer ol{
	list-style-type: decimal;
	padding-left: 20px;
}

#diclaimer li{
	width: intrinsic;
	padding-left: 20px;
}

.text-content li{
	list-style-type: circle;
	margin-left: 20px;
}

i{
	font-style: italic;
}

img{
	max-width: 100%;
}

.item.item-complex{
	font-family: 'FontAwesome';
}

.title.title-center{
	font-family: 'FontAwesome';
}